.service-item {
  padding: 20px;
  margin: 5px;  
  border: 1px solid #eee;
  border-radius: 12px;
  text-align: center;
}

.service-item:hover {
  transform: translateY(-4px);
}

.service-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 12px;
  background-color: #ddd; /* іконка */
  border-radius: 50%;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-text {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

.service-link {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.service-link:hover {
  text-decoration: underline;
}



.carousel-module {
  margin: 40px 0;
  display: flex !important;
  
}

.carousel-slide {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #fff;
}

.carousel-slide img {
  display: block;
  width: 250px;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border-radius: 12px;
}

